@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@600&family=Mea+Culpa&display=swap');

.kalnia-glaze-600 {
  font-family: "Kalnia Glaze", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.mea-culpa-regular {
    font-family: "Mea Culpa", serif;
    font-weight: 400;
    font-style: normal;
  }
  

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.ul-nav {
    padding: 1rem 10rem;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    list-style: none;
}

.li-nav {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.6rem;
    list-style: none;
    
}

.a-nav{
    list-style: none;
}


/*Formats the entire page*/
.container {
    width:100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    padding: 10rem
}
/*Formats the div container todo-app*/
.todo-app {
    width: 100%; /*takes up 100% of the container */
    max-width: 500px; /*sets the max width of the 100% container to 500px making the width across the page shorter */
    background: #fff; /*sets the background color of the container */
    margin: 0 auto; /*centers the container */
    padding: 2rem;
    border-radius: 10px;
}
.todo-app h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #f22bf285;
    display: flex; /*makes the h2 a flexbox */
    align-items: center; /*centers the items in the flexbox */
    margin-bottom: 2rem;
}
.todo-app h2 img {
    width: 50px;
    margin-left: 1rem; /*sets the margin to the left of the image */
}
/*Formats the div container row*/
.row {
    /* border:black 5px solid; */
    background: #edeef0; /*sets the background color of the row */
    display: flex; /*makes the row a flexbox */
    justify-content: space-between; /*sets the space between the items in the flexbox */
    align-items: center; /*centers the items in the flexbox */
    margin-bottom: 1rem;
    padding-left: 1rem; /*sets the padding to the left of the row */
    border-radius: 30px;
}
input {
    flex: 1; /*sets the input to take up the entire space of the row */
    border: none; /*removes the border */
    outline: none; /*removes the outline */
    background: transparent; /*sets the background to transparent */
    font-size: 1rem;
    font-weight: 14px;
    padding: 1rem;
}
button {
    border: none; /*removes the border */
    outline: none; /*removes the outline */
    background: #002765; 
    color: #fff; 
    padding: 16px 38px; 
    font-size: 1rem; 
    cursor: pointer;
    border-radius: 40px; 
}

ul li {
    font-family: "Kalnia Glaze", serif;
    list-style: none; /*removes the bullet points */
    padding: 12px 8px 12px 50px;
    user-select: none; /*prevents the user from selecting the text */
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';/*adds content to the list */
    position: absolute; /*sets the position to absolute */
    width: 20px;
    height: 20px;
    border-radius: 30%;
    background-image: url(images/uncheckedmark.png);
    background-size: cover;
    background-position: center;
    top: 12px; /*sets the top position */
    left: 8px; /*sets the left position */
}

ul li.checked{
    text-decoration: line-through;
    color: #bcbcbc;
}

ul li.checked::before {
    background-image: url(images/blkcheckmark.png);
}
ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

ul li span:hover{
    background: #edeef0;
    cursor: pointer;
}